div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

.jumbotron{
  color: rgba(17, 17, 78, 0.822);
  background-color: rgba(255, 255, 255, 0.774);
  display: flex;
  margin: 10px 10px 10px 10px;
}