@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">TO DO LIST</h1>
  <hr class="my-4">
  <p>@Html.ActionLink("Items", "Index", "Items") ||  @Html.ActionLink("Categories", "Index", "Categories")</p>
  <p class="lead"></p>
</div>